__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.git/
.gitignore
.pytest_cache/

# Ignore temp and output in all projects
**/temp/*
**/output/*
!**/temp/.gitkeep
!**/output/.gitkeep

# Ignore .env files (they should be passed via docker --env-file)
**/.env
