moviepy<2.0.0
Pillow
python-bidi
arabic-reshaper
yt-dlp
python-telegram-bot
python-telegram-bot[job-queue]
python-dotenv
pilmoji==2.0.4
emoji==1.7.0
requests
g4f
curl_cffi
google-generativeai
playwright
