version: 2.1

jobs:
  build-and-push:
    docker:
      - image: cimg/base:2023.01
    steps:
      - checkout
      - run:
          name: "Build Docker image"
          command: |
            docker build . -t yehonatancohen/parties247-automations:latest
      - run:
          name: "Login to Docker Hub"
          command: |
            echo ${DOCKERHUB_PASSWORD} | docker login -u yehonatancohen --password-stdin
      - run:
          name: "Push image to Docker Hub"
          command: |
            docker push yehonatancohen/parties247-automations:latest

workflows:
  build-and-deploy:
    jobs:
      - build-and-push:
          filters:
            branches:
              only:
                - master
