version: 2.1

jobs:
  build-and-push:
    docker:
      - image: cimg/base:2023.01
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.12
      - run:
          name: "Build Docker image"
          command: |
            docker build -t ${DOCKERHUB_USERNAME}/parties247-automations:latest .
      - run:
          name: "Login to Docker Hub"
          command: |
            echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
      - run:
          name: "Push image to Docker Hub"
          command: |
            docker push ${DOCKERHUB_USERNAME}/parties247-automations:latest

workflows:
  build-and-deploy:
    jobs:
      - build-and-push:
          filters:
            branches:
              only:
                - main
